# Build artifacts
/dist

# Node modules
/node_modules

# Vite cache
/.vite

# gh-pages cache
/.cache
node_modules/.cache

# OS files
.DS_Store

# env
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
